<div class="flex flex-col gap-4 overflow-hidden">
  <div class="flex flex-row items-center justify-center h-10">
    <h2 class="text-2xl">Welcome to the Hotel Reservation Portal</h2>
  </div>
  <div class="flex flex-row items-center justify-center gap-3">
    <button
      routerLink="/new"
      class="border bg-yellow-200 hover:bg-yellow-300 p-4 rounded-l-xl"
    >
      Create Reservation
    </button>
    <button
      routerLink="/list"
      class="border hover:bg-yellow-300 bg-yellow-200 p-4 rounded-r-xl"
    >
      View Reservations
    </button>
  </div>
</div>
